run = "gunicorn -c gunicorn_config.py main:app"

language = "python"
modules = ["python-3.11"]

[packager]
packageManager = "poetry"

[env]
PORT = "5000"

[deployment]
install = [
  "poetry install"
]
run = "gunicorn -c gunicorn_config.py main:app"
