<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monetize Chatbots</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/MonetiseChatbots_logo_alpha.png') }}">
</head>
<body>
    <header>
        <a href="https://monetizechatbots.com">
            <img src="{{ url_for('static', filename='images/MonetiseChatbots_logo_alpha.png') }}" alt="MonetiseChatbots Logo" class="logo">
        </a>
    </header>
    <div class="container">
        <h1>
          Monetize Chatbots <br>
          <span class="small-text">Generate an API / GPT Action to rewrite outgoing links as your affiliate links.</span>
        </h1>

        <style>
          h1 {
            font-size: 36px; /* Adjust size for the first line */
          }

          .small-text {
            font-size: 20px; /* Adjust size for the second line */
          }
        </style>

        <form id="custIdForm">
            <label for="cust_id">Enter your Skimlinks <a href="http://go.skimlinks.com/?id=44501X1151753&xs=1&url=https://hub.skimlinks.com/toolbox/api#credentials" target="_blank">Publisher ID</a>. Don't have a Skimlinks account? Get one <a href="http://go.skimlinks.com/?id=44501X1151753&xs=1&url=http://skimlinks.com" target="_blank">Here</a></label><br>
            <input type="text" id="cust_id" name="cust_id" required><br><br>
            <button type="submit">Go</button>
        </form>

        <div id="results" style="display: none;">
            <h2>Your Custom API Details</h2>
            <p><strong>OpenAPI Specification:</strong> <button onclick="copyText('openApiSpec')">Copy</button></p>
            <pre id="openApiSpec"></pre>
            <!-- New Privacy Policy Section -->
            <p><strong>Privacy Policy:</strong> <button onclick="copyText('privacyPolicyUrl')">Copy</button></p>
            <pre id="privacyPolicyUrl">https://liveinfo.org/pp</pre>
            <p><strong>Add this to the top of your GPT prompt:</strong> <button onclick="copyText('integrationInstructions')">Copy</button></p>
            <pre id="integrationInstructions"></pre>

            <!-- New Authentication Section -->
            <p><strong>Authentication:</strong> None Needed</p>
        </div>

        <footer>
            <p>
                <a href="{{ url_for('privacy_policy') }}">Privacy Policy</a> |
                <a href="{{ url_for('terms_of_service') }}">Terms of Service</a>
            </p>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
